<div class="navigation">
  <div class="logo font-indie">Bug Tracker</div>
  <div class="controls">
    <a
      mat-button
      href="javascript:;"
      routerLink="/dashboard"
      routerLinkActive="active"
      >Dashboard</a
    >
    <a
      mat-button
      href="javascript:;"
      routerLink="/bugs"
      routerLinkActive="active"
      >Bugs</a
    >
    <a
      mat-button
      href="javascript:;"
      routerLink="/explore"
      routerLinkActive="active"
      >Explore</a
    >
    <a
      mat-button
      href="javascript:;"
      routerLink="/settings"
      routerLinkActive="active"
      >Settings</a
    >
  </div>
  <div class="user-info">
    <div style="margin-left: 10px; margin-right: 10px;">
      {{ (user$ | async)?.email }}
    </div>
    <button mat-button (click)="logout()">Log out</button>
  </div>
</div>
