.container {
  max-width: 1000px;
  min-width: 320px;
  margin: 50px auto;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-right: 45px;
}
