<div class="container">
  <div class="controls-panel">
    <mat-form-field style="margin-right: 20px;">
      <mat-label>Bug type</mat-label>
      <mat-select>
        <mat-option value="null">None </mat-option>
        <mat-option
          *ngFor="let type of (settings$ | async)?.errorTypes"
          [value]="type.regexp"
        >
          {{ type.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Search</mat-label>
      <input matInput [formControl]="filterFormControl" />
      <i matSuffix class="fas fa-search" style="padding:1px;"></i>
    </mat-form-field>
  </div>

  <mat-accordion>
    <mat-expansion-panel
      *ngFor="let bug of (bugs$ | async)?.filteredList"
      (afterExpand)="bug.isViewed = true"
    >
      <mat-expansion-panel-header
        [ngClass]="{
          'viewed-bug': bug.isViewed,
          'new-bug': !bug.isViewed,
          'fixed-bug': bug.status === 'resolved',
          'progress-bug': bug.status === 'progress'
        }"
      >
        <mat-panel-title>
          {{ bug.userEmail }}
        </mat-panel-title>
        <mat-panel-description>
          <span>{{ bug.date | firebaseDate | date: 'dd/MM/yyy HH:MM' }}</span>
          <span style="margin-left: 30px;">{{ bug.message }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      {{ bug.message }}
      <mat-action-row>
        <section>
          <span *ngIf="bug.updated">Updated by: {{ bug.updated }}</span>
        </section>
        <section>
          <mat-radio-group
            [(ngModel)]="bug.status"
            (change)="changedStatus(bug, $event)"
          >
            <mat-radio-button class="radio-button-margin" value="unresolved">
              Unresolved
            </mat-radio-button>
            <mat-radio-button class="radio-button-margin" value="progress">
              In Progress
            </mat-radio-button>
            <mat-radio-button class="radio-button-margin" value="resolved">
              Resolved
            </mat-radio-button>
          </mat-radio-group>
        </section>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
