<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let bug of (bugs$ | async)?.list">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ bug.userEmail }}
        </mat-panel-title>
        <mat-panel-description>
          <span>{{ bug.date | firebaseDate | date: 'dd/MM/yyy HH:MM' }}</span>
          <span style="margin-left: 30px;">{{ bug.message }}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      {{ bug.message }}
    </mat-expansion-panel>
  </mat-accordion>
</div>
