<div class="container">
  <div class="info-box-container">
    <div class="info-box-item">
      <app-info-box
        title="Outstanding bugs"
        icon="bug"
        [isFooterPositive]="false"
        footerText="20.00% &nbsp; Since last month"
        [isCenteredContent]="false"
      >
        28
      </app-info-box>
    </div>
    <div class="info-box-item">
      <app-info-box
        title="Clients remain affected"
        icon="user"
        [isFooterPositive]="true"
        footerText="50.00% &nbsp; Since last month"
        [isCenteredContent]="false"
      >
        5
      </app-info-box>
    </div>
    <div class="info-box-item">
      <app-info-box
        title="New bugs"
        icon="meteor"
        [isFooterPositive]="false"
        footerText="5.25% Since last month"
        [isCenteredContent]="false"
      >
        2
      </app-info-box>
    </div>
    <div class="info-box-item">
      <app-info-box
        title="Unlucky client"
        icon="sad-tear"
        [isFooterPositive]="true"
        footerText="62.50% More than other clients"
        [isCenteredContent]="false"
      >
        Victoria Homes <br />
        <small style="font-size: 14px;">experienced 18 errors</small>
      </app-info-box>
    </div>
  </div>

  <!-- MONTHLY REPORT -->
  <div class="monthly-graph-container component-container">
    <div class="graph-header">
      Monthly Report
    </div>
    <div class="graph-canvas">
      <canvas
        baseChart
        [datasets]="monthlyReportSettings.data"
        [labels]="monthlyReportSettings.labels"
        [options]="monthlyReportSettings.options"
        [legend]="monthlyReportSettings.isLegend"
        [chartType]="monthlyReportSettings.type"
      >
      </canvas>
    </div>
  </div>

  <!-- DAILY REPORT -->
  <div class="daily-graph-container component-container">
    <div class="graph-header">
      Daily Report
    </div>
    <div class="graph-canvas">
      <canvas
        baseChart
        [datasets]="dailyReportSettings.data"
        [labels]="dailyReportSettings.labels"
        [options]="dailyReportSettings.options"
        [legend]="dailyReportSettings.isLegend"
        [chartType]="dailyReportSettings.type"
      >
      </canvas>
    </div>
  </div>

  <!-- ERROR TYPES -->
  <div class="error-types-graph-container component-container">
    <div class="graph-header">
      Daily Report
    </div>
    <div class="graph-canvas">
      <canvas
        baseChart
        [datasets]="errorTypeReportSettings.data"
        [labels]="errorTypeReportSettings.labels"
        [options]="errorTypeReportSettings.options"
        [legend]="errorTypeReportSettings.isLegend"
        [chartType]="errorTypeReportSettings.type"
      >
      </canvas>
    </div>
  </div>
</div>

<!-- <mat-grid-list cols="8" rows="2">
  <mat-grid-tile colspan="2" rowspan="1">
    <app-info-box
      title="Outstanding bugs"
      icon="bug"
      [isFooterPositive]="false"
      footerText="20.00% Since last monthx"
      [isCenteredContent]="false"
    >
      <h1>28</h1>
    </app-info-box>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <app-info-box
      title="Clients remain affected"
      icon="user"
      [isFooterPositive]="true"
      footerText="50.00% Since last month"
      [isCenteredContent]="false"
    >
      <h1>5</h1>
    </app-info-box>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan="2">
    <canvas
      class="mat-elevation-z1"
      baseChart
      [datasets]="monthlyReportSettings.data"
      [labels]="monthlyReportSettings.labels"
      [options]="monthlyReportSettings.options"
      [legend]="monthlyReportSettings.isLegend"
      [chartType]="monthlyReportSettings.type"
    >
    </canvas>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <app-info-box
      title="New bugs"
      icon="meteor"
      [isFooterPositive]="false"
      footerText="5.25% Since last month"
      [isCenteredContent]="false"
    >
      <h1>2</h1>
    </app-info-box>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="1">
    <app-info-box
      title="Unlucky client"
      icon="sad-tear"
      [isFooterPositive]="true"
      footerText="62.50% More than other clients"
      [isCenteredContent]="false"
    >
      <div>
        <h2>Victoria Homes</h2>
        <h3>experienced 18 errors</h3>
      </div>
    </app-info-box>
  </mat-grid-tile>
</mat-grid-list> -->
