/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/css?family=Nunito|Indie+Flower|Open+Sans:400,700&display=swap';
@import 'https://pro.fontawesome.com/releases/v5.10.1/css/all.css';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}

.font-indie {
  font-family: 'Indie Flower', cursive;
}

.component-container {
  background: rgba(204, 204, 206, 0.1);
  border: 1px solid rgba(10, 150, 150, 0.1);
  border-radius: 5px;
}
