:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: white;
  }

  .header {
    font-size: 15px;
    padding: 18px;
    padding-bottom: 0;
  }
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Nunito';
  }
  .icon {
    float: right;
    font-size: 25px;
  }

  .footer {
    padding: 18px;
    padding-top: 3px;
    margin-top: auto;
    font-size: 14px;
    span {
      margin-left: 5px;
    }
    // Arrow up/down icons
    .positive {
      color: #8bc34a;
    }
    .negative {
      color: #f44336;
    }
  }

  h2 {
    color: purple;
  }
}
