:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .header {
    font-size: 20px;
    padding: 10px;
  }
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
  }
  .icon {
    float: right;
  }

  .footer {
    padding: 10px;
    margin-top: auto;
  }
}
